.container {
	height: 50rem;
	box-sizing: border-box;
	padding: 2rem 10rem;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	.table {
		overflow-y: auto;
	}
	.product_name {
		cursor: pointer;
	}
}
.action-buttons {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	margin-right: 1rem;
	background-color: #d4d4d4;
	color: black;
	:nth-child(2) {
		margin-left: 1rem;
	}
	&:hover {
		background-color: #c4c4c4;
	}
}
.dialog-content {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.15em;
	color: black;
}
